[project]
	description = This is my First Project.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/rahat4bitwise
[access "refs/for/refs/*"]
	read = group user/rahat4bitwise
	push = group user/rahat4bitwise
	label-Code-Review = -2..+2 group user/rahat4bitwise
	label-Verified = -1..+1 group user/rahat4bitwise
	rebase = group user/rahat4bitwise
	removeReviewer = group user/rahat4bitwise
	submit = group user/rahat4bitwise
[access "refs/heads/*"]
	read = group user/rahat4bitwise
	create = group user/rahat4bitwise
	push = +force group user/rahat4bitwise
	pushMerge = group user/rahat4bitwise
[access "refs/tags/*"]
	push = group user/rahat4bitwise
	push = +force group user/rahat4bitwise
